.about-wrapper {
  display: flex;
  width: 55%;
  justify-content: space-between;
  padding-top: 2rem;
}

.bio-text-container {
  width: 60%
}

.bio-img {
  height: 50vh;
  border-radius: 1%;
  // width: 40%;
}

.bio-header {
  margin-top: 0;
  text-align: center;
}

.bio-text {
  margin-bottom: 0;
}

.bio-bottom-text {
  width: 55%;
  margin: 0
}
