p {
  margin: 0;
}

.about-wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
}

.profile-img-container {
  display: flex;
  width: 100%;
  justify-content: center;
}

.image-placeholder {
  height: 400px;
  width: 100%;
  background-color: lightgrey;
}

.bio-container {
  // width: 70%;
}

.bio-img {
  height: 50vh;
  border-radius: 1%;
  // width: 40%;
}

.bio-header {
  margin-top: 0;
  text-align: center;
  font-size: 30px;
}

.bio-text-top {
  font-size: 30px;
  margin-bottom: 50px;
}

.bio-text-bottom {
  margin-top: 50px;
  font-size: 24px;
}
