<div class="about-wrapper">
  <div class="bio-container">
    <p class="bio-text-top">CARA DEHNERT is a leadership consultant, lawyer, college professor, arts manager, and passionate supporter of the arts and creative industries. </p>
    <div class="profile-img-container">
      <p class="image-placeholder">
        Image
      </p>
    </div>
    <p class="bio-text-bottom">
      Cara has an extensive background in leadership and entertainment law as well as arts management. She is a certified Gallup StrengthFinders coach and licensed by the IL Bar.
      Professionally, Cara consults with individuals, managers, and teams re: strengths, and is an active writer and contributor to art publications and other media outlets, including Chicago Artist Resource, Chicago Art Magazine and more, as well as a strategic planning and philanthropic consultant. At Columbia College Chicago, Cara serves as an Assistant Professor of Instruction and teaches Leadership, Law for Creative Industries, Nonprofit Management, Artists and the Art Market, and many other courses.
      Cara has previous legal and arts administration experience as the former Executive Director of I Am Logan Square as well as with the Illinois Arts Council, Lawyers for the Creative Arts, Leslie Hindman Auctioneers, and other creative organizations in Chicago and nationwide.
      Along with earning a Juris Doctor from the University of Kansas (2007) and a Bachelor of Arts in Journalism from the University of Oklahoma (2002), she is a graduate of Columbia College Chicago’s Master of Arts Management program (2010).
    </p>
  </div>
</div>
